/* Shared Style  */

:root {
  --title-color:#0B0223;
  --pink-color:#FF42A5;
  --sky-blue-color:#4EC5F7;
  --purple-color:#3C354F;
  --white-color:#fff;
  --background-color:#FFF9FC;
  --linear-title-color:linear-gradient( #F948B2, #8758F1);
  --paragraph-color:#534C64;
  --title-font-size:48px;
  --title-font-weight:700;
  --paragraph-font-size:18px;
  --paragraph-font-weight:400;
  --button-font-size:16px;
  --button-font-weight:600;
}

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Lato', sans-serif;
font-family: 'Work Sans', sans-serif;
}

li {
  list-style: none;
}

.button-style {
    font-size: var(--button-font-size);
    font-weight: var(--button-font-weight);
    color: var(--white-color);
    padding: 13px 26px;
    border: 0;
    border-radius: 100px;
    margin-top: 20px;
    cursor: pointer;
    text-transform: uppercase;
}



/* Navbar Style  */
header {
  box-shadow: 0px 2px 15px #bdbcbc;
  margin-bottom: 5px;
}
.navbar {
  width: 80%;
  height: 120px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo{
  display: flex;
  align-items: center;
  cursor: pointer;
}
.logo h1 {
  font-size: 40px;
  font-weight: 700;
  color: var(--title-color);
  margin-left: 10px;
}
.logo span {
  color: var(--pink-color);
}
.nav-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--purple-color);
}
.nav-items li{
  margin-left: 30px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}
.social button{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  font-size: 18px;
  font-weight: 500;
  color: var(--purple-color);
  background-color: #E7E6E9;
  border: 0px;
  border-radius: 10px;
  cursor: pointer;
}
.social button span, i {
  padding: 0px 5px;
}
.social .fa-youtube {
  color:#F61C0D;
  font-size: 22px;
}
.fa-tiktok {
  filter: drop-shadow(1px 1px 0px #24f6f0) brightness(110%);
  box-shadow: 0px 0px 0 0px #fe2d52;
}

/* Hero Section Style  */

.hero-section {
  width: 80%;
  margin: auto;
  height: 70vh;
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#hero-section {
  background-image: url(/images/Group\ 14.png);
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
}

.hero-section h2 {
  font-size: var(--title-font-size);
  font-weight: 600;
  color: var(--title-color);
}
.hero-section h1 {
  font-size: 95px;
  font-weight: 800;
 background-color:var(--pink-color);
 background-image: var(--linear-title-color);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}
.banner-list ul li{
  font-size: 18px;
  font-weight: var(--paragraph-font-weight);
  color: var(--paragraph-color);
}
.banner-list ul li i{
  font-size: 20px;
  width: 7%;
  padding:8px 10px 8px 0px;
  color: var(--pink-color);
}

.sign-in {
  background-color: var(--pink-color);
}
.go-rogue {
  background-color: var(--sky-blue-color);
  margin-left: 10px;
}
.banner-text {
  width: 55%;
}
.banner-img {
  width: 45%;
  text-align: right;
}
.banner-img img{
  width: 100%;
  max-width: 500px;
  height: auto;
}

/* We are Gamers Section Style  */
#gamer-section {
  background-color: var(--background-color);
}
.gamer-section {
  width: 80%;
  padding: 100px 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.gamer-img {
  width: 60%;
}
.gamer-img img{
  width: 100%;
}
.gamer-text {
  width: 40%;
  text-align: right;
}
.gamer-text h1 {
  font-size: var(--title-font-size);
  font-weight: var(--title-font-weight);
  color: var(--title-color);
  background-color:var(--pink-color);
 background-image: var(--linear-title-color);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}
.gamer-text > p {
  font-size: var(--paragraph-font-size);
  font-weight: var(--paragraph-font-weight);
  color: var(--paragraph-color);
  padding: 15px 0;
}
.gamer-text button {
  background-color: var(--pink-color);
  margin-bottom:10px;
}
.gamer-text h4 {
  font-size: 23px;
  font-weight: 700;
  color: var(--paragraph-color);
}

/* Online Games  */
#online-games-section {
  width: 80%;
  margin: auto;
  padding: 50px 0;
}
.online-games-title {
  text-align: center;
  padding: 30px 0;
}
.online-games-title h1 {
  font-size: var(--title-font-size);
  font-weight: var(--title-font-weight);
  color: var(--title-color);
}
.online-games-title span {
  background-color:var(--pink-color);
  background-image: var(--linear-title-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.online-games-title p, .cards p {
 font-size: var(--paragraph-font-size);
 font-weight: var(--paragraph-font-weight);
 color: var(--paragraph-color);
}
.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.cards img {
  width: 100%;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}
.card:hover img {
  filter: contrast(10%);
}

.card {
  position: relative;
}
.hover-content {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-45%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.card:hover .hover-content {
  opacity: 1;
}
.hover-text {
  font-size: 20px;
  font-weight: var(--button-font-weight);
  color: var(--pink-color);
  cursor: pointer;
}
.hover-text i{
  font-size: 40px;
  color: var(--white-color);
  padding-bottom: 10px;
}
.hover-text button {
  font-size: var(--button-font-size);
  font-weight: var(--button-font-weight);
  padding: 10px 20px;
  border-radius: 100px;
  border: 0;
  background-color: var(--pink-color);
  color: var(--white-color);
  cursor: pointer;
}
.card p {
  padding-top: 15px;
}

/* Play Instantly */
#play-instantly-section {
  width: 80%;
  margin: auto;
}
.play-instantly-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}
.play-instantly-text {
  width: 50%;
  margin-top: -20%;
}
.play-instantly-img {
  width: 50%;
}
.play-instantly-img img {
  width: 100%;
}
.play-instantly-img .short-image {
  width:50%;
  transform: translate(-40%, -70%);
}
.play-instantly-text {
  text-align: right;
  padding-right: 20%;
}
.play-instantly-text span {
  background-color:var(--pink-color);
 background-image: var(--linear-title-color);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}
.play-instantly-text h1, p {
  font-size: var(--title-font-size);
  font-weight: var(--title-font-weight);
  color: var(--title-color);
}
.play-instantly-text p {
  font-size: var(--paragraph-font-size);
  font-weight: var(--paragraph-font-weight);
  color: var(--paragraph-color);
  margin-top: 15px;
}


/* Play Games Section */
#play-games-section {
  width: 80%;
  margin: auto;
}
.play-games-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 50px;
}
.play-games-text {
  width: 50%;
  margin-top: -20%;
}
.play-games-img {
  width: 50%;
}
.play-games-img img {
  width: 100%;
}
.play-games-img .short-image2 {
  width:50%;
  transform: translate(120%, -70%);
}
.play-games-text {
  text-align: left;
  padding-left: 20%;
}
.play-games-text span {
  background-color:var(--pink-color);
 background-image: var(--linear-title-color);
 -webkit-background-clip: text;
 -webkit-text-fill-color: transparent;
}
.play-games-text h1, p {
  font-size: var(--title-font-size);
  font-weight: var(--title-font-weight);
  color: var(--title-color);
}
.play-games-text p {
  font-size: var(--paragraph-font-size);
  font-weight: var(--paragraph-font-weight);
  color: var(--paragraph-color);
  margin-top: 15px;
}

/* Categories Section Style */

.hidden-on-desktop {
  display: none;
}

#games-categories-section {
background-color: var(--background-color);
margin-top: -80px;
}
.games-categories-section {
  width: 80%;
  margin: auto;
  padding: 80px 0;
  text-align: center;
}
.games-category1, .games-category2{
  display: grid;
  gap: 10px;
  margin-bottom: 20px;
}
.games-category1{
  grid-template-columns: repeat(5,1fr);

}
.games-category2{
  grid-template-columns: repeat(4,1fr);
}
.games-category1 button, .games-category2 button{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--white-color);
  padding: 10px 10px;
  font-size: 15px;
  font-weight: var(--button-font-weight);
  border: 2px solid var(--white-color);
  color: var(--title-color);
  border-radius: 100px;
}
.games-category1 button:hover, .games-category2 button:hover{
  border: 2px solid var(--pink-color);
  color: var(--pink-color);
  cursor: pointer;
}
.games-category1 button img, .games-category2 button img{
  width: 50px;
  height: 50px;
  padding-right: 10px;
}

/* Footer Section Style */
#footer-section {
  background-color: var(--title-color);
}
.footer-section {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px 0;
}
.footer-section .logo{
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 50px 0;
}
.footer-section .logo h1 {
  font-size: 40px;
  font-weight: 700;
  color: var(--white-color);
  margin-left: 10px;
}
.logo span {
  color: var(--pink-color);
}
.footer-section .nav-items{
  color: var(--white-color);
  
}

.footer-social {
  display: grid;
  grid-template-columns: repeat(6,50px);
  gap:0px;
  align-items: center;
  justify-content: center;
  color: var(--white-color);
}
.footer-social li{
  /* margin-left: 30px; */
  padding: 40px 15px ;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}
.footer-nav-1 {
  display: grid;
  grid-template-columns: repeat(6,1fr);
  align-items: center;
  justify-content: center;
  color: var(--white-color);
}
.footer-nav-1 li{
  /* margin-left: 30px; */
  padding: 20px 15px ;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}
.footer-nav-2 {
  display: grid;
  grid-template-columns: repeat(4,200px);
  align-items: center;
  justify-content: center;
  color: #7e7e7e;
}
.footer-nav-2 li{
  /* margin-left: 30px; */
  padding: 15px 10px ;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}
.footer-section .copyright p{
  font-size: 16px;
  font-weight: 500;
  color: #7e7e7e;
}












































/* Media Query Applied  */

    /* Medium Devices, Tablets */
    @media only screen and (max-width : 768px) {

      /* Navbar Style  */
      .logo img {
        width: 30%;
      }
      .logo h1 {
        font-size: 30px;
      }
      .nav-items li {
        font-size: 15px;
        margin-left: 18px;
      }
      .social button {
        font-size: 15px;
      }

      /* Hero Section Style  */
      .hero-section {
        display: flex;
        flex-direction: column-reverse;
        height: auto;
        justify-content: center;
      }
      #hero-section {
        background-image: url(/images/Group\ 14.png);
        background-position: left;
        background-size: cover;
        background-repeat: no-repeat;
      }

      .banner-text {
        width: 80%;
        padding-left: 30%;
        /* padding-right: -50%; */
        padding-bottom: 50px;
      }
      .banner-img {
        width: 100%;
        text-align: center;
      }
      .banner-img img{
        width: 80%;
      }
      .banner-text {
        margin-top: 50px;
      }

      /* Gamer Section Style  */
      .gamer-section {
        display: flex;
        flex-direction: column;
        padding: 50px 0;
      }
      .gamer-img {
        width: 100%;
      }
      .gamer-img img{
        width: 100%;
      }
      .gamer-text {
        width: 100%;
        text-align: center;
      }

      /* Online Games Section Style  */
      #online-games-section {
        padding: 20px 0;
      }
      .online-games-section {
        text-align: center;
      }
      .online-games-title h1{
        padding-bottom: 10px;
        width: 70%;
        margin: auto;
      }
      .online-games-title {
        padding-bottom: 50px;
      }
      .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 50px;
      }

      /* Play Instantly Section Style  */
      .play-instantly-section {
        display: flex;
        flex-direction: column;
        text-align: center;

      }
      .play-instantly-text {
        width: 100%;
        margin-top: 0;
        padding: 50px 0;
      }
      .play-instantly-text {
        text-align: center;
        padding-right: 0;
      }
      .play-instantly-text p{
        padding: 20px 0px;
      }
      .play-instantly-img {
        width: 100%;
      }
      .play-instantly-img img {
        width: 100%;
      }

      .play-instantly-img .short-image {
        width:50%;
        transform: translate(-70%, -70%);
      }


       /* Play Games Section Style  */
       .play-games-section {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        margin-top: -100px;
      }
      .play-games-text {
        width: 100%;
        padding-bottom: 100px;
        margin-top: -100px;
      }
      .play-games-text {
        text-align: center;
        padding-left: 0;
      }
      .play-games-text p{
        padding: 20px 0px;
      }
      .play-games-img {
        width: 100%;
      }
      .play-games-img img {
        width: 100%;
      }

      .play-games-img .short-image2 {
        width:50%;
        transform: translate(70%, -70%);
      }



      /* Categories Section Style  */

      .hidden-on-mobile-tablet {
        display: none;
      }
      .show-only-mobile-tablet {
        display: block;
      }

      .games-category-mobile{
        display: grid;
        gap: 15px;
        margin-bottom: 20px;
      }
      .games-category-mobile{
        grid-template-columns: repeat(3,1fr);
      }
      .games-category-mobile button{
        display: block;
        background-color: var(--white-color);
        padding: 15px 20px;
        font-size: 15px;
        font-weight: var(--button-font-weight);
        border: 2px solid var(--white-color);
        color: var(--title-color);
        border-radius: 100px;
      }
      .games-category-mobile button:hover{
        border: 2px solid var(--pink-color);
        color: var(--pink-color);
        cursor: pointer;
      }
      .games-category-mobile button img{
        width: 50px;
        height: 50px;
        padding-right: 10px;
      }

      /* Footer Section  */
      .footer-section .logo img {
        width: 19%;
      }
      .footer-nav-1 {
        display: grid;
        grid-template-columns: repeat(3,1fr);
      }
      .footer-nav-1 li{
        font-size: 18px;
      }
      .footer-nav-2 {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        padding-bottom: 20px;
      }
      .footer-social {
        display: grid;
        grid-template-columns: repeat(3,70px);
        row-gap: 0px;
        padding: 30px 0;
      }
      .footer-social li{
        /* margin-left: 30px; */
        padding: 10px 15px ;
        font-size: 25px;
        font-weight: 500;
        cursor: pointer;
      }

    }


        /* Small Devices, Phones */ 
        @media only screen and (max-width : 425px) {
          header {
            height: 190px;
            padding: 30px 0px;
          }
          .navbar {
            display: flex;
            flex-direction: column;
          }
          .logo {
            margin-bottom: 20px;
          }
          .nav-items {
            display: flex;
            flex-direction: column;
            gap: 20px;
          }

          /* Hero Section Style  */
          .hero-section h2 {
            font-size: 40px;
          }
          .hero-section h1 {
            font-size: 80px;
          }
          
          .banner-text {
            width: 100%;
            padding-left: 0%;
            padding-bottom: 50px;
          }
          .banner-img {
            width: 100%;
          }
          .banner-img img {
            width: 100%;
          }

          /* Online Games Section  */
          .online-games-title h1{
            width: 100%;
          }
          .cards {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            row-gap: 50px;
          }

      /* Play Games Section Style  */
       
      .play-games-text {
        width: 100%;
        padding-bottom: 100px;
        margin-top: -20px;
      }
          
          /* Categories Seciton  */
          .hidden-on-mobile-tablet {
            display: none;
          }
          .show-only-mobile-tablet {
            display: grid;
            grid-template-columns: repeat(3,1fr);
          }
         
          .games-category-mobile button{
            display: inline-block;
            padding: 10px 10px;
            font-size: 13px;
            border-radius: 10px;
          }
          
          .games-category-mobile button img {
            width: 40px;
            height: 40px;
          }

          /* footer Style  */

          .footer-nav-1 {
            display: grid;
            grid-template-columns: repeat(3,1fr);
          }
          .footer-nav-1 li, .footer-nav-2 li{
            /* margin-left: 30px; */
            font-size: 13px;
          }
          
        }
